/*.button {
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    margin: 0;
    width: auto;
    font-family: "Charter";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
}


.button.fullbutton {
    width: 100%;
}

.button.fullbutton span {
    float: right;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
}

.button {
    background: none;
    border: 2px solid #3B4252;
    color: #3B4252 !important;
}

.button:hover {
    background: #3B4252;
    color: #AAA !important;
}

.button:active {
    top: 2px;
}
*/

.button {
    background: #FFFFFF;
    border: 1px solid #3B4252;
    position: relative;
    display: inline-block;
    padding: 7px 7px;
    margin: 0;
    width: auto;
    font-family: charter;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px; }

.button:hover {
    background: #2E3440;
    color: #16537E; }

.button:active {
    top: 1px; }
