/*.button {
    position: relative;
    display: inline-block;
    padding: 7px 12px;
    margin: 0;
    width: auto;
    font-family: "Charter";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    text-align: left;
    letter-spacing: 2px;
}


.button.fullbutton {
    width: 100%;
}

.button.fullbutton span {
    float: right;
}

.button:after {
    content: '';
    position: absolute;
    z-index: -1;
}

.button {
    background: none;
    border: 2px solid #3B4252;
    color: #3B4252 !important;
}

.button:hover {
    background: #3B4252;
    color: #AAA !important;
}

.button:active {
    top: 2px;
}
*/

.button {
    background: #ECEFF4;
    border: 1.5px solid #252A33;
    position: relative;
    display: inline-block;
    padding: 5px 5px;
    margin: 0;
    width: auto;
    font-family: charter;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: 2px;
    padding-bottom: 10px;
    font-weight: 800;
    border-radius: 5px;
}

.button:hover {
    background: #3B4252;
    color: #BF616A;
}

.button:active {
    top: 1px;
}
