<!-- Used by all builtin themes. Now we list number of essays and projects. -->

{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}

<div class="nonprintable">
    <nav class="ui stackable borderless menu">
    <!-- <nav class="ui stackable five item borderless menu"> -->
        <a href="{{ site.baseurl}}/" class=" {% if include.active == "aboutpage" %} active {% endif %}item" style="font-family:Ubuntu mono, Helvetica, Arial;">
            <i class="user outline icon"></i><b> william grimes </b>
        </a>
        <a href="{{ site.baseurl }}/projects" class=" {% if include.active == "projects" %} active {% endif %} right item" style="font-family:Ubuntu mono, Helvetica, Arial;">
            <b> projects </b>
        </a>
        <a href="{{ site.baseurl }}/essays" class=" {% if include.active == "essays" %} active {% endif %} item" style="font-family:Ubuntu mono, Helvetica, Arial;">
            <b> writings </b>
        </a>
        <a href="{{ site.baseurl }}/links/" class=" {% if include.active == "links" %} active {% endif %} item" style="font-family:Ubuntu mono, Helvetica, Arial;">
            <b> links </b>
        </a>
        <a href="{{ site.baseurl }}/bio/"  class=" {% if include.active == "bio" %} active {% endif %} right item" style="font-family:Ubuntu mono, Helvetica, Arial;">
            <b> curriculum vitae &thinsp;</b><i class="file pdf icon"></i>
        </a>
    </nav>
</div>
