<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

{% include menubar.html active="aboutpage"%}

<div style="height: 75%;" class="ui middle aligned two column centered stackable grid container">
     <div style="text-align: center" class="column">
        <div  class="ui rounded image">
            <img src="{{ site.data.bio.basics.picture }}" style="display: block; margin-left: auto; margin-right:auto; width:50%;" >
        </div>
     </div>
    
     <div class="column">
        <h2 class="header no-bottom" style="font-family: Ubuntu mono !important; font-size:400%;">
            {{ site.data.bio.basics.name }}
        </h2>
        <p class="" style="font-family: Ubuntu mono !important; font-size:100%;">
            <b>{{ site.data.bio.basics.label }}</b>
        </p>
        <p class="" style="font-family: Ubuntu mono !important; font-size:100%; text-align:justify;">
           {{ site.data.bio.basics.summary }}
        </p>
        <p style="font-family: Ubuntu mono !important; font-size:100%;">
            Interests:
           {% for interest in site.data.bio.interests %}
              {{ interest.name }}{% if forloop.last != true %}, {% endif %}
           {% endfor %}
        </p>
    </div>
</div>
