<!-- Home page design with large image to left of bio info. -->
{% assign essay_pages = site.pages | where: "type", "essay"  | where_exp: "page", "page.draft != true" %}
{% assign project_pages = site.pages | where: "type", "project" | where_exp: "page", "page.draft != true" %}
{% assign num_essays = essay_pages.size %}
{% assign num_projects = project_pages.size %}

{% include menubar.html active="aboutpage"%}

<div style="padding-top:20px;" class="ui middle aligned two column centered stackable grid container">
    <div style="text-align: center" class="column">
       <div  class="ui image">
           <img src="{{ site.data.bio.basics.picture }}" style="display: block; margin-left: auto; margin-right:auto; width:60%;" >
       </div>
    </div>
    <div class="column">
        <div class="segment" style="padding-left:10px; padding-right:10px; width:100%;">
            <div class="ui raised padded text segment" style="max-width:950px; margin:0 auto;">
                <h2 class="header" style="font-family: 'Press Start 2P', cursive; font-size:200%; text-align:center;">
                    {{ site.data.bio.basics.name }}<br>
                </h2>
                <p class="" style="line-height: 2em; font-family: 'Press Start 2P', cursive; font-size:100%; text-align:center;">
                    <b>{{ site.data.bio.basics.label }}</b>
                </p>
                <p class="" style="font-family:Ubuntu mono, Helvetica, Arial; font-size:100%; text-align:justify;">
                   {{ site.data.bio.basics.summary }}
                </p>
            </div>
        </div>
    </div>
</div>
