<div style="margin-top: 10px; " class="ui stackable grid container">

  <div class="sixteen wide column no-bottom">
    <h2 class="ui center aligned header no-bottom" style="font-family: Ubuntu mono !important; font-size:300%;">
        {{ site.data.bio.basics.name }}
    </h2>
  </div>

  <div class="sixteen wide left aligned column" style="font-family: Ubuntu mono !important; font-size:100%;">
    {% include bio-network-links.html %}
  </div>

</div>

<div style="margin-bottom: 20px" class="ui stackable grid container" style="font-family: Ubuntu !important; font-size:100%;">
  {% include bio-interests-1.html %}
  {% include bio-skills-1.html %}
  {% include bio-education-1.html %}
  {% include bio-work-1.html %}
  {% include bio-volunteer-1.html %}
  {% include bio-publications-1.html %}
  {% include bio-awards-1.html %}
  {% include bio-references-1.html %}
</div>
