<div style="padding-top: 20px" class="ui container ">

  <div class="ui stackable centered four cards">
    {% assign project_pages = site.pages | where: "type", "project" | sort: "date" | reverse %}
    {% for page in project_pages %}
      {% unless page.draft %}
        {% include project-card.html page=page %}
      {% endunless %}
    {% endfor %}
  </div>
</div>

<script type="text/javascript">
  /* Terrible ugly hack to get nice background image on main page without changing other templates */
  document.addEventListener("DOMContentLoaded", function() {
      var body = document.getElementsByTagName("body")[0];
      body.style.cssText =
          'background: url("../images/background30.jpg");' +
          'background-size: cover;' +
          'background-position: center;' +
          'background-repeat: no-repeat;';

      var uhbtns = document.getElementsByClassName("uhbtn");
      for(var i = 0; i < uhbtns.length; i++) {
          uhbtns[i].cssText = "background-color: green;";
      }
  });
</script>
