/** Menu Styles **/

#menucont ul.menu {
    position: absolute;
    bottom: 24px;
    width: 100%;
    margin: 0;
}

#menucont ul.menu li {
    float: left;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

#menucont ul.menu li a {
    float: left;
    color: #FFFFFF;
    width: 100%;
    padding: 10px 20px;
    margin: 0;
    font-size: 23px;
    font-weight: 50;
    font-family: "Charter";
    text-transform: uppercase;
    line-height: 44px;
    text-align: left;
    text-decoration: none;
    //letter-spacing: 2px;
}

#menucont ul.menu li a:hover {
    background: rgba(0, 0, 0, 0.2);
}

#menucont ul.menu li.active a,
#menucont ul.menu li.active a:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #BF616A;
    font-weight: 100;
}

#menucont .menutitle {
    display: none;
}
